.create-an-account {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 36px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.createlogin-to-an {
  margin-block-start: 0;
  margin-block-end: 0;
}
.account-to-get {
  margin: 0;
}
.createlogin-to-an-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h2 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--h21-size);
  color: var(--dark-background1);
}
.an-account-is-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 38px;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h41 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: flex-start;
  color: var(--second-text2);
}
.text-content-wrapper,
.text-content1 {
  width: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-content1 {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  gap: var(--gap-xs);
}
.text-content-wrapper {
  position: absolute;
  top: 83px;
  left: 1000.58px;
}
.content {
  position: absolute;
  top: 150px;
  left: calc(50% - 1002.59px);
  width: 1640.59px;
  height: 506.99px;
}
.image1-icon {
  position: absolute;
  top: 74px;
  left: 241px;
  width: 310px;
  height: 533px;
  object-fit: cover;
}
.box2 {
  position: absolute;
  top: 1546px;
  left: 0;
  background-color: var(--light-text1);
  width: 1440px;
  height: 806.99px;
  text-align: left;
  font-size: var(--h41-size);
  color: var(--color-orangered);
  font-family: var(--h21);
}
