.checkout {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 36px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.when-you-done {
  margin-block-start: 0;
  margin-block-end: 0;
}
.and-get-it {
  margin: 0;
}
.when-you-done-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 57px;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h21 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--h21-size);
  color: var(--dark-background1);
}
.when-you-done-container1 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 38px;
  font-weight: 500;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h42 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 0;
  align-items: center;
  justify-content: flex-start;
  color: var(--second-text2);
}
.text-content-container,
.text-content2 {
  width: 568px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-content2 {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  gap: var(--gap-xs);
}
.text-content-container {
  position: absolute;
  top: 83px;
  left: 1000.58px;
}
.content1 {
  position: absolute;
  top: 150px;
  left: calc(50% - 1002.59px);
  width: 1640.59px;
  height: 506.99px;
}
.image3-icon {
  position: absolute;
  top: 77px;
  left: 241px;
  width: 286px;
  height: 519px;
  object-fit: cover;
}
.box4 {
  position: absolute;
  top: 2935px;
  left: 0;
  background-color: var(--light-text1);
  width: 1440px;
  height: 806.99px;
  text-align: left;
  font-size: var(--h41-size);
  color: var(--color-orangered);
  font-family: var(--h21);
}
