.bella-olonje-logo-111-1 {
  position: absolute;
  height: 107.86%;
  width: 103.88%;
  top: -3.93%;
  right: -1.94%;
  bottom: -3.93%;
  left: -1.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bella-olonje-logo-111-1-wrapper {
  position: relative;
  width: 206px;
  height: 101.76px;
  flex-shrink: 0;
}
.left {
  position: absolute;
  top: calc(50% - 51.88px);
  left: 70px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  align-items: center;
  justify-content: flex-start;
}
.home {
  position: relative;
  font-size: var(--button1-size);
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--h21);
  color: var(--color-orangered);
  text-align: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.text-link {
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.product {
  position: relative;
  font-size: var(--button1-size);
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--h21);
  color: var(--dark-background1);
  text-align: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.desktop-menu,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.desktop-menu {
  gap: var(--gap-lg);
}
.right {
  position: absolute;
  top: calc(50% - 25px);
  right: 40px;
}
.desktop-navbar {
  align-self: stretch;
  position: relative;
  height: 156px;
  flex-shrink: 0;
}
.headerbackground-icon {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1440px;
  height: 619px;
  object-fit: cover;
}
.food-app {
  position: absolute;
  top: 0;
  left: 44.08%;
  font-size: var(--h41-size);
  letter-spacing: 0.1px;
  line-height: 36px;
  font-family: var(--h21);
  color: var(--color-whitesmoke);
  text-align: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.why-stay-hungry {
  margin-block-start: 0;
  margin-block-end: 0;
}
.you-can-order {
  margin: 0;
}
.why-stay-hungry-container {
  position: absolute;
  top: 5.56%;
  left: 3.38%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2px;
  line-height: 80px;
  font-family: var(--font-poppins);
  color: var(--light-text1);
  text-align: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.h1 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 1005px;
  height: 180px;
}
.download-the-bella {
  position: absolute;
  top: 10.42%;
  left: 12.23%;
  font-size: var(--h41-size);
  letter-spacing: 0.2px;
  line-height: 38px;
  font-weight: 500;
  font-family: var(--h21);
  color: var(--color-whitesmoke);
  text-align: center;
}
.h4 {
  position: absolute;
  top: 230px;
  left: 138.5px;
  width: 728px;
  height: 96px;
  overflow: hidden;
}
.text-content {
  position: absolute;
  top: 72px;
  left: 217.5px;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1005px;
  height: 326px;
}
.app-store {
  position:absolute;
  top: 0;
  left: 0;
  font-size: var(--h41-size);
  letter-spacing: 0.1px;
  line-height: 36px;
  font-family: var(--h21);
  color: var(--light-text1);
  text-align: center;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.01);
}
.text-button {
  position: relative;
  width: 119px;
  height: 36px;
  flex-shrink: 0;
}
.big-button,
.master-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.master-button {
  border-radius: var(--br-md);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  border: 1px solid var(--light-text1);
  box-sizing: border-box;
  width: 236px;
  padding: var(--padding-sm) 0;
}
.big-button {
  position: absolute;
  top: 404px;
  left: 791px;
}
.master-button1 {
  width: 236px;
  
}
.big-button1 {
  position: absolute;
  top: 404px;
  left: 521px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.headerimage {
  align-self: stretch;
  position: relative;
  height: 674px;
  flex-shrink: 0;
}
.header {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--light-text1);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
